html
	head
	body
		h1 Welcome!
			form(action='/results', method='POST')
				p Title:
				input(type='text', name='firstname')
				p Your Message:
				textarea
				br 
				br
				input(type='submit', value='ADD')

