html
	head
		title Bulletin Board
		link(href='/resources/css/bootstrap.min.css' type="text/css" rel="stylesheet")
	body
		div.page-header
			h1 Bulletin Board
		h2 Thank you!
		h3 
		each thing in messages
			h4 #{thing.title} 
			p #{thing.body}

	script(src="/resources/js/jquery-3.1.1.min.js")
	script(src="/resources/js/bootstrap.min.js")
